{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}{{ auction.title }}{% endblock %}

{% block body %}

<h2 class="title">{{ auction.title }}</h2>

    <h6 class="centered">
        <span class='text-muted'>
            Category: <span class='text-primary'>{{ auction.category }}</span>
        </span> &nbsp; | &nbsp;
        <span class='text-muted'>
            Listed by: <span class='text-primary'>{{ auction.author }}</span>
        </span> &nbsp; | &nbsp;
        <span class='text-muted'>Created on {{ auction.created }}</span>
    </h6>

{% if user.is_authenticated %}
    <div  class="watchlist-button">
        <a style="margin-left: auto; " class='btn btn-outline-success mt-auto btn-block' href="{% url 'watchlist_edit' auction.id %}">
            {% if auction.is_watched %}
                Remove from Watchlist
            {% else %}
                Add to Watchlist
            {% endif %}
        </a>
    </div>
{% endif %}
<br>
<br>

<div class="img-product">
{% if auction.image %}
    <img src="{{ auction.image.url }}" alt='Product'>
{% else %}
    <img src="https://image.shutterstock.com/image-vector/no-image-available-vector-hand-260nw-745639717.jpg" alt="NoImage" style="width:300px;">
{% endif %}
<h4 style="margin-top: 20px;">{{ auction.description }}</h4>
</div>

{% if comments %}
<div class="comments">
<h4 class='fw-bolder'>
    Comments
</h4>
{% for comment in comments %}
    <div>
        <div class='text-muted'>
            <strong>{{ comment.user }}</strong>
            commented on {{ comment.created }}
        </div>
    </div>
    <div>
        <p>{{ comment.comment }}</p>
    </div>
{% endfor %}
</div>
{% endif %}

<div class="new-form">
    {% if auction.active %}

        <h4 class='fw-bolder'>
            {% if auction.current_bid %}
            Current price:<strong> &dollar;{{auction.current_bid}}</strong>
            {% else %}
                Starting price:<strong> &dollar;{{auction.starting_bid}}</strong>
            {% endif %}
        </h4>

    {% endif %}

    {% if user.is_authenticated %}

        {% if auction.author == user and auction.active %}
        <div class='card-body'>
            <a class='btn btn-danger mt-auto' href="{% url 'auction_close' auction.id %}">
                Close auction
            </a>
        </div>
        {% endif %}

    {% if auction.author != user and auction.active %}

        {% if messages %}
            <p>
                {% for message in messages %}
                {% if auction.current_bid %}
                    <div class='alert alert-warning' role='alert'>
                        Your bid must be greater than <strong>&dollar;{{ auction.current_bid|default:auction.starting_bid }}</strong>.
                    </div>
                {% else %}
                    <div class='alert alert-warning' role='alert'>
                        Your bid must be greater than or equal to <strong>&dollar;{{ auction.current_bid|default:auction.starting_bid }}</strong>.
                    </div>
                {% endif %}
                {% endfor %}
            </p>
        {% endif %}

    <div class='form-group'>
        <form action="{% url 'auction_bid' auction.id %}" method='POST'>
            {% csrf_token %}
        <div class="form-group">
            {{ bid_form }}
        <br>
        <button type='submit' class='btn btn-primary'>
            Place a bid
        </button>
        </div>
        </form>
    </div>
    {% endif %}
    {% endif %}

{% if auction.active == False %}
    {% if auction.buyer %}
        {% if auction.author == user %}
        <div class='alert alert-success' role='alert'>
            The item sold to <strong>{{ auction.buyer }}</strong> for <strong>&dollar;{{ auction.current_bid }}</strong>.
        </div>
        {% elif auction.buyer == user %}
        <div class='alert alert-success' role='alert'>
            Congratulations! <br>Your bid <strong>&dollar;{{ auction.current_bid }}</strong> was the winning one.
        </div>
        {% else %}
        <div class='alert alert-warning' role='alert'>
            This item has already been sold.
        </div>
        {% endif %}
    {% else %}
        <div class='alert alert-warning' role='alert'>
            Auction closed.
        </div>
    {% endif %}
{% endif %}
</div>
<br>
<br>
<br>
{% if auction.active %}
    {% if user.is_authenticated %}
        <div class="new-form">
            <h4 class='fw-bolder'>
                Add a comment
            </h4>
            <div class="form-group">
                <form action="{% url 'comment' auction.id %}" method='POST'>
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ comment_form }}
                        <br>
                        <button type='submit' class='btn btn-success'>
                            Add a comment
                        </button>
                        <a href="{% url 'auction' auction.id %}" class='btn btn-secondary'>
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
    {% endif %}
        </div>

{% endif %}


{% endblock %}