{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="title">Active Listings</h2>

<div class="centered">
    <section class="cards">
        {% for auction in auctions %}
            <article class="card">
                <a href="{% url 'auction' auction.id %}">
                <figure class="thumbnail">
                {% if auction.image %}
                    <img src="{{ auction.image.url }}" alt='Product'>
                {% else %}
                    <img src="https://image.shutterstock.com/image-vector/no-image-available-vector-hand-260nw-745639717.jpg" alt="NoImage">
                {% endif %}
                </figure>
                <div class="card-content">
                    <h2>{{auction.title}}</h2>
                    <p>
                        {% if auction.current_bid %}
                            &dollar;{{auction.current_bid}}
                        {% else %}
                            &dollar;{{auction.starting_bid}}
                        {% endif %}
                    </p>
                </div>
                </a>
            </article>
        {% endfor %}
    </section>
</div>
{% endblock %}