{% extends "auctions/layout.html" %}
{% load static %}
{% block title %}New Auction{% endblock %}

{% block body %}
<h2 class="title">Create New Auction</h2>
{% if message %}
        <div class="message">{{ message }}</div>
    {% endif %}
<div class="new-form">
    <form action="{% url 'new' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}
    <div class="mb-3">
        <label for="{{ f.id_for_label }}">{{f.label}}: </label>
        {{ f }}
    </div>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
        <button style="margin-left: auto;" class="btn btn-primary btn-block" type="submit">Save</button>
    </form>
</div>
{% endblock %}